---
import Layout from '../layouts/Layout.astro';
import Card from '../components/NewsCard.astro';

import { newtClient} from "../assets/js/script";
import type { Article } from "../assets/js/script";

const { items: articles } = await newtClient.getContents<Article>({
  appUid: 'testcms',
  modelUid: 'news',
  query: {
    select: ['_id', 'thumbnail', 'title', '_sys'],
  },
});

import dayjs from 'dayjs';
import utc from 'dayjs/plugin/utc';
import timezone from 'dayjs/plugin/timezone';

dayjs.extend(utc);
dayjs.extend(timezone);
---

<Layout title="Welcome to Astro.">
	<main>
		<h2 class="news__ttl">News</h2>
		<ul class="news__list">
			{
				articles.map((article) => {
					return (
						<Card
							href={"/news/" + article._id}
							thumbnail={article.thumbnail.src}
							title={article.title}
							createdAt={dayjs.utc(article._sys.createdAt).tz('Asia/Tokyo').format('YYYY.MM.DD')}
							updatedAt={dayjs.utc(article._sys.updatedAt).tz('Asia/Tokyo').format('YYYY.MM.DD')}
						/>
					)
				})
			}
		</ul>
	</main>
</Layout>

<style lang="scss">
	.news {
		&__ttl {
			position: relative;
			padding-left: 18px;

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				width: 10px;
				height: 100%;
				background-color: #4169e1;
				content: "";
			}
		}

		&__list {
			display: flex;
			flex-wrap: wrap;
			margin-top: 40px;
		}
	}
</style>
